---
title: Merry Christmas 2022 from the Drings!
---
<main>
  <h1>{{ title }}</h1>

  <div id="cardCanvas" class="sketch"></div>

  <div id="controls" class="controls">
    <button id="sound-toggle">Play Music</button>
    <div></div>
    <div id="score">Score: <span class="time"></span> s</div>
  </div>

  <div class="background">
    <img style="right: 5vw; bottom: 20vh; max-block-size: 30vh;" src="/assets/images/fireplace.svg" inline>
    <img style="left: 5vw; top: 20vh; max-block-size: 40vh;" src="/assets/images/xmas_tree.svg" inline>
  </div>
</main>

<aside id="instructions" class="stack">
  <h1>{{ title }}</h1>
  <p>
    This year, we're donating the money we would have spent
    on cards to <a href="https://www.trusselltrust.org/make-a-donation/">The Trussell Trust</a>
  </p>
  <p>
    <img src="/assets/images/trussell.svg">
  </p>
  <p>
    Here's our traditional homemade e-card
  </p>
  <p>
    Help Delia steal the Christmas turkey,
    using your mouse or finger.
    How long can you evade the family?
  </p>
  <p><button id="start">Ready to play?</button></p>
</aside>

<script>
  const assetsUrls = {
    giles: "{{ '/assets/images/Giles.svg' | url() }}",
    rebecca: "{{ '/assets/images/Rebecca.svg' | url() }}",
    martha: "{{ '/assets/images/Martha.svg' | url() }}",
    bea: "{{ '/assets/images/Bea.svg' | url() }}",
    body_a: "{{ '/assets/images/body-a.svg' | url() }}",
    body_b: "{{ '/assets/images/body-b.svg' | url() }}",
    delia_head: "{{ '/assets/images/delia-head.svg' | url() }}",
    delia_standing: "{{ '/assets/images/delia-standing.svg' | url() }}",
    delia_running_1: "{{ '/assets/images/delia-run-1.svg' | url() }}",
    delia_running_2: "{{ '/assets/images/delia-run-2.svg' | url() }}",
    turkey: "{{ '/assets/images/turkey.svg' | url() }}",
  };
</script>
<script src="/assets/js/xmas.js"></script>

