<main>
<h1>Happy Christmas 2022 from the Drings!</h1>
<div id="cardCanvas" class="sketch"></div>
</main>
<script>
  const assetsUrls = {
    giles: "{{ '/assets/images/Giles.svg' | url() }}",
    rebecca: "{{ '/assets/images/Rebecca.svg' | url() }}",
    martha: "{{ '/assets/images/Martha.svg' | url() }}",
    bea: "{{ '/assets/images/Bea.svg' | url() }}",
    delia_head: "{{ '/assets/images/delia-head.svg' | url() }}",
    delia_standing: "{{ '/assets/images/delia-standing.svg' | url() }}",
    delia_running_1: "{{ '/assets/images/delia-run-1.svg' | url() }}",
    delia_running_2: "{{ '/assets/images/delia-run-2.svg' | url() }}",
    turkey: "{{ '/assets/images/turkey.svg' | url() }}",
    xmas_tree: "{{ '/assets/images/xmas_tree.svg' | url() }}",
    fireplace: "{{ '/assets/images/fireplace.svg' | url() }}",
  };
</script>
<script src="/assets/js/xmas.js"></script>

