<main>
<h1>Happy Christmas 2022 from the Drings!</h1>
<div id="cardCanvas" class="sketch"></div>
</main>
<script>
  const assetsUrls = {
    giles: "{{ '/assets/images/Giles.svg' | url(true) }}",
    rebecca: "{{ '/assets/images/Rebecca.svg' | url(true) }}",
    martha: "{{ '/assets/images/Martha.svg' | url(true) }}",
    bea: "{{ '/assets/images/Bea.svg' | url(true) }}",
  };
</script>
<script src="/assets/js/xmas.js"></script>

