@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(19, 16, 92);
  font-family: 'Gloria Hallelujah', cursive;
}

main {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  text-align: center;
}

h1 {
  font-size: min(4rem, 4.5vw);
}

.sketch {
  width: 100vw;
  flex-grow: 1;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.controls {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  align-items: baseline;
  font-size: 1.2rem;
  gap: 1rem;
  & > :empty {
    flex-grow: 1;
  }
}
button {
  font-size: inherit;
  font-family: inherit;
  padding: 0.1rem 1rem;
  min-inline-size: 10ch;
}

#score {
  & > .time {
    font-family: monospace;
    text-align: end;
    width: 6em;
  }
}