@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(19, 16, 92);
  background: rgb(10, 120, 60);
  font-family: 'Gloria Hallelujah', cursive;
}

main {
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  /* overflow: hidden; */
  text-align: center;
  position: relative;
}

h1 {
  font-size: min(4rem, 4.5vw);
}

.sketch {
  flex-grow: 1;
  overflow: hidden;
  background: rgba(200,200,200, 0.3)
}

.controls {
  display: flex;
  padding: 0.5rem;
  align-items: baseline;
  font-size: min(4vw, 1.2rem);
  gap: 1rem;
  & > :empty {
    flex-grow: 1;
  }
}
button {
  padding: 0.1rem 1rem;
  min-inline-size: 10ch;
}

#score {
  & > .time {
    font-family: monospace;
    text-align: end;
    width: 6em;
  }
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  & > img {
    position: absolute;
  }
}

.layover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#instructions {
  position: absolute;
  top: 0;
  left: 0;
  block-size: 100vh;
  inline-size: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  color: green;
  text-align: center;
  transition: top 1s ease-in-out;
  & h1 {
    font-size: 1.6em;
  }
  & img {
    width: 20vw;
  }
}

.stack * + * {
  margin-block-start: 1.5rem;
}